.workprocess {
  padding: 60px 0;
  position: relative;
}

.titlewrapper {
  justify-content: center;
}

.heading,
.subheading {
  text-align: center;
}

.processInfo {
  margin-top: 40px;
}

.eachProcess {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 30px 0 rgba(239, 151, 255, 0.4);
  -o-box-shadow: 0 10px 30px 0 rgba(239, 151, 255, 0.4);
  -moz-box-shadow: 0 10px 30px 0 rgba(239, 151, 255, 0.4);
  -ms-box-shadow: 0 10px 30px 0 rgba(239, 151, 255, 0.4);
  box-shadow: 0 10px 30px 0 rgba(239, 151, 255, 0.4);
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eachProcess:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(104, 34, 139, 0.4);
  -o-box-shadow: 0 10px 30px 0 rgba(104, 34, 139, 0.4);
  -moz-box-shadow: 0 10px 30px 0 rgba(104, 34, 139, 0.4);
  -ms-box-shadow: 0 10px 30px 0 rgba(104, 34, 139, 0.4);
  box-shadow: 0 10px 30px 0 rgba(104, 34, 139, 0.4);
}

.eachProcess img {
  max-width: 40px;
}

.eachProcess.first {
  background: #ef97ff;
}

.processInfo h4 {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 20px;
}

.eachProcess svg {
  font-size: 30px;
  color: #fff;
}

.arrowIcon {
  position: absolute;
  right: -120%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  pointer-events: none;
}

@media (max-width: 991px) {
  .workprocess {
    padding: 30px 0;
  }

  .titlewrapper {
    justify-content: start !important;
  }

  .heading,
  .subheading {
    text-align: left;
  }

  .processCol {
    margin-bottom: 80px;
    position: relative;
  }

  .processCol:last-child {
    margin-bottom: 0;
  }

  .arrowIcon {
    right: auto;
    left: 50%;
    top: 170px;
    transform: translateX(-50%) rotate(90deg);
  }

}