.contact {
  padding: 60px 0;
}

.contactBox {
  padding-top: 40px;
}

.formControl {
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: none;
  outline: 0 !important;
  background: #141414;
  color: #fff;
  resize: none;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 1.42857143;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border: 1px solid;
  border-color: color-mix(in srgb, #272829, transparent 80%);
  border: 1px solid #fff;
}

.eachForm {
  margin-bottom: 10px;
  color: #fff;
}

.eachForm span {
  color: #ff0000;
}

.eachformPart {
  margin-bottom: 30px;
}

.textareaControl {
  height: 100px;
  border: 1px solid #fff;
}

.fromPart {
  background-color: #141414;
  height: 100%;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
}

.contacthead h3 {
  font-size: 24px;
  color: #fff;
}

.contacthead p {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 300;
  margin-top: 6px;
}

.contactInfo {
  margin: 20px 0 0;
}

.singleContact {
  margin-bottom: 26px;
}

.singleContact h3 {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.singleLink {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 0;
}

.socialLinks ul li {
  float: left;
}

.eachLink {
  color: #fff;
  transition: 0.9s ease-in-out;
  font-size: 20px;
}

.eachLink:hover {
  color: #b636ff;
}

.socialLinks {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

.download {
  width: 200px;
  height: 60px;
  text-transform: capitalize;
  color: #fff !important;
  background-color: #b636ff !important;
  border: 1px solid #b636ff !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s linear !important;
  font-size: 18px !important;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: "Dancing Script", cursive !important;
  border-radius: 5px !important;
}

.download:hover {
  background-color: #000 !important;
  color: #fff !important;
  border: 1px solid #000 !important;
}

.animatedBtn span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #ef97ff;
  transform: translateY(150%);
  border-radius: 50%;
  transition: 0.5s;
  z-index: -1;
}

.animatedBtn span:nth-child(2) {
  left: 0;
  transition-delay: 0s;
}

.animatedBtn span:nth-child(3) {
  left: 25%;
  transition-delay: 0.1s;
}

.animatedBtn span:nth-child(4) {
  left: 50%;
  transition-delay: 0.2s;
}

.animatedBtn span:nth-child(5) {
  left: 75%;
  transition-delay: 0.3s;
}

.download:hover span {
  transform: translateY(0) scale(2);
}

@media (max-width: 991px) {
  .contact {
    padding: 0;
  }

  .titlewrapper {
    justify-content: start !important;
  }

  .heading,
  .subheading {
    text-align: left;
  }

  .contactBox {
    padding-top: 0;
  }

  .contactBox .row {
    flex-direction: column-reverse;
    --bs-gutter-y: 20px;
  }
}